@keyframes disappear {
    to {
        transform: scale(0);
    }
}

@keyframes rotating {
    0% {
        font-size: 1.5rem;
        height: 1px;
        transform : translate3d(-5px, -5px, -5px); 
        box-shadow: none;
    }
    10% {
        background: transparent;
    }
    50% {
        padding-left: 0px;
        font-size: 0.875rem;
        background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        background: transparent;
    }
    60% {
        height: 2px;
        background: transparent;
    }
    70% {
        height: 20px;
        line-height: 20px;
        color: rgba(124, 35, 129, 0.744);
        position: relative;
        background: transparent;
        font-size: 2rem;
    }
    80% {
        transform: rotate3d(-1, 1, 100, 3.14rad);
        position: relative;
        height: 20px;
        line-height: 20px;
        color: #403d44;
        background: transparent;
        box-shadow: none;
    }
}

@keyframes appear {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}