$breakpoints: (
    "xs": 380px,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
);

@mixin xs {
    @media screen and (max-width: map-get($breakpoints, "xs")) {
        @content;
    }
}
@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
}
@mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
        @content;
    }
}
@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
        @content;
    }
}
@mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
        @content;
    }
}

.working {
    .container {
        @include sm {
            max-width: 100%;
        }
    }
}

.restaurants {
    .container {
        @include sm {
            max-width: 100%;
        }
    }
}

.main-container {
    @include sm {
        max-width: 100%;
    }
    
    .presentation {
        @include sm {
            height: 300px;
        }
        @include md {
            height: 635px;
        }
       &__picture {
           @include sm {
               height: 300px;
           }
       } 
    }
}
