$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E200;
$badge-color:#2ea5ab;

$bg-colors : (
    "white": #FFF,
    "smoked-white": #F6F6F6,
    "btn": linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9))
);

$font-weights: (
    "regular": 300,
    "medium": 500,
    "bold": 700
);

$theme-colors: (
    "new": #8af6eb
);
