.location {
    @include flex(row,center);
    padding: 1.25rem 1rem;
    background-color: #e3e3e3;
    font-size: 1.2rem;
    position: relative;

    &__icon {
        margin-right: 1rem;
    }

    &__city {
        font-weight: weight(medium);

        @include mobile-l {
            font-size: 0.937rem;
        }
    }
}

.presenting {
    padding: 2rem 0 3rem 0;
    text-align: center;
    background-color: rgba(245, 245, 245, 1);

    @include mobile-l {
        padding: 2rem 0 4rem 0;
    }

    &__title {
        font-weight: weight(bold);
    }
       
    &__subtitle {
        font-weight: map-get($font-weights, regular);
        margin: 1.5rem 0 3rem 0;
    }

    &__btn {
        @include presenting-btn;

        @include mobile-l {
            font-size: 1rem;
            padding: 1rem;
        }
    }

    &__btn:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 .3em rgba(#fff,0);
    }
    @keyframes pulse {
        0% { box-shadow: 0 0 0 0 $primary-color; }
      }
}

.working {
    padding: 2rem 0rem;

    @include phablet {
        padding: 2rem;
    }

    .container {
        max-width: 80%;
        margin: auto;
        position: relative;
        padding-bottom: 1rem;
    
        @include laptop {
            max-width: 100%;
        }
    }

    &__title {
        margin: 0 0 1.5rem .6rem;
    }

    &__steps {
        display: flex;
        gap: 2.5rem;

        @include phablet-max {
            flex-wrap: wrap;
            gap: 1rem;
        }

        @include tablet {
            width: 100%;
            flex-wrap: wrap;
            gap: 1rem;
        }

        @include mobile-l {
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
 
    &__step {
        @include step;

        @include phablet-max {
            flex: none;
            width: 70%;
            margin: 0 auto;
        }

        @include tablet {
            flex: none;
            width: 80%;
            margin: 0 auto;
            padding: 18px;
        }

        @include mobile-l {
            width: 90%;
            padding: 20px 35px;
            border-radius: 20px;
            font-weight: weight(bold);
        }
    }

   &__step:last-child {
       background-color: rgba(242, 212, 245, 0.51);

        .icon {
            color: $primary-color;
        }
    }

    &__stepNum {
        @include step-number;

        @include laptop {
            margin-left: -2.187rem;
        }

        @include tablet {
            margin-left: -1.75rem;
        }

        @include mobile-l {
            margin-left: -2.75rem;
            margin-top: 0.125rem;
        }
    }

    .icon {
        @include icon;
    }

    .label {
        font-weight: weight(bold);
        cursor: default;

        @include laptop {
            font-size: 0.875rem;
        }
    }

}

.restaurants {
    @include restaurants;

    @include xl-screen {
        padding: 0 10rem 2rem 10rem;
    }

    &__title {
        padding: 2rem 0;
    }
}

.cards {
    @include flex-cards;
    
    @include tablet{
        gap: 1.5rem;
    }

    @include mobile-l {
        gap: 0;
    }
}

.card {
    @include card;

    @include mobile-l {
        margin-bottom: .5rem;
    }

    @include tablet {
        margin-bottom: 1.5rem;
    }

    
    a {
        text-decoration: none;
        color: initial;
    }

    &:first-child {
        flex: 1;
        @include mobile-l {
        flex: auto;
        }

    }

    &:first-child:hover {
        flex: 3;
        @include tablet {
            flex: 1;
        }
    }

    &:last-child {
        flex: 1;
        @include mobile-l {
            flex: auto;
        }
    }

    &:last-child:hover {
        flex: 3;
        @include tablet {
            flex: 1;
        }
    }

    &__img {
        @include card-image;
        
        @include tablet {
            height: 230px;
        }
        
        @include mobile-l {
            height: 184px;
            object-position: center -77px;
        }
        
        @media screen and (min-width: 361px) and (max-width: 424px) {
            height: 150px;
            object-position: center -78px;
        }

        @include mobile-m {
            height: 138px;
            object-position: center -54px;
        }
    }

    &__badge {
        @include badge-image;

        @include tablet {
            font-size: 0.687rem;
            padding: 0.5em 0.6rem;
            margin-top: .5rem;
            margin-left: -4.5rem;
        }
    }

    &__title {

        @include mobile-m {
            font-size: 0.9375rem;
            line-height: 1.5;
        }
    }

    &__footer {
        position: relative;
        padding: 7px 10px 10px 15px;
        @include flex(row,space-between);  
    } 
}

.main-container {
    @include main-container;

    @include laptop {
        width: 100%;
    }
}

.presentation {
    width: 100%;
    height: 100%;
    margin-top: 4.312rem;

    &__picture {
        width: 100%;
        object-fit: cover;
           
    &--old-dish-1 {
        width: 100%;
        position: relative;
        top: -4.3rem;
    }

    &--old-dish-3 {
        width: 100%;
    }

    &--old-dish-4 {
        width: 100%;
    }
}
    &__title {
       @include flex-menu;
        
        @include mobile-l {
            font-size: 0.875rem; 
            padding: 1.25rem 1.875rem;
        }
    }

    &__title--old-dish-3 {
        @include flex-menu-2;
    }

    &__title--old-dish-4 {
        @include flex-menu;
        @include mobile-l {
            padding: 1.25rem 1rem;
            bottom: 1.5rem;
        }
    }
}

.menuCoverPage {
    overflow: hidden;
    padding: 0.625rem 0 0.625rem 0;

    &__dish-title {
        width: 95%;

    .underlined-text {
        padding-bottom: 0.312rem;
        border-bottom: 0.187rem solid $tertiary-color;
    }

    }
}

.dishOfDay {
    width: 100%;
    height: 4.375rem;
    @include flex(row,space-between);
    background: #fff;
    padding: 0.625rem 0 0.625rem 0.625rem;
    box-shadow: 0.125rem 0.125rem 0 0 #b7b7b7;

    @include dish-appear-delay;

    animation: appear 1s;
    animation-fill-mode: both;
    border-radius: 0.625rem;
    margin-top: 1.25rem;

    &__cost {
        padding: 0.937rem 1.25rem 0 1.25rem;
        font-weight: weight(bold);
    }

    &__dish-detail {
        @include ellipsis-text-effect;
    }

    &__dish-detail--fontW {
        margin-top: 0.312rem;
        font-weight: weight(regular);
    }
    
    .box {
        @include hidden-box;

    }

    .isApproved {
        @include circular-movement;
    }

    &:hover .box {
        width: 70px;
    }

    &:hover .box > .isApproved {
        transform: rotate(0deg);
    }
}

.btn {
    @include button;

    &:after {
      @include btn-pseudo-after;
    }

    &:before {
      @include btn-pseudo-before;
    }
    &:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 .3em rgba(#fff,0);
    }

    @media screen and (min-width: 0px) {
      margin: -2.8rem auto 0 auto;
    }
  }
