.btn {
    @include button;

    &:after {
      @include btn-pseudo-after;
    }

    &:before {
      @include btn-pseudo-before;
    }
    &:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 .3em rgba(#fff,0);
    }

    @media screen and (min-width: 0px) {
      margin: -2rem auto 0 auto;
    }
  }