.footer {
    width: 100%;
    background-color: #353535;
    color: #FFF;

    @include xl-screen {
        margin: 0 auto;
    }

    .container {
        @include flex-column-footer;
        padding-left: 1.5rem;

        @include xl-screen{
            padding-left: 10rem;
        }

        @include breakpoint-0{
            padding-bottom: 1.5rem
        }
    }

    &__logo {
        margin: 0.9rem 0;
        font-family: "Shrikhand", cursive;
    }

    &__list {
        list-style: none;

    &--element {
        line-height: 1.8;

        .icon {
            margin-right: 10px;
        }
    }  
    }
    
     &__link {
         color: #FFF;
         text-decoration: none;
     }
}